EXPO_PUBLIC_SUPABASE_URL=https://pmgxkwsqotgynjezvbat.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBtZ3hrd3Nxb3RneW5qZXp2YmF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDE5MzUwNjcsImV4cCI6MjA1NzUxMTA2N30.FdeD6AmxRCRW0iNu65cQWgQ2r70w9HiSlEJAm0BKQfw